
		<div id = "taglineBack">
			<div id= "taglineWrapper">
				<div id ="tagline">
					Your Home, More Lovely 
				</div>
				<div id="tagline2">
					 &aacute; la fresh flowers delivered to your home 
				</div>

				<br><br>

				<% if session[:user_id] %>
						<a style = "text-decoration: none; font-size: 25px; padding: 10px 50px;" class=" button" href="/flowers" data-panel-nav="clear">GET STARTED</a></div>

				<%else%>
						<a style = "text-decoration: none; font-size: 25px; padding: 10px 50px;" class=" button" href="/signup" data-panel-nav="clear">GET STARTED</a></div>
				<%end%>
	

				
			</div>
					<div class="wrapper">
				
		</div>
